body.offcanvas .leftPanel {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  width: 270px;
  background: #fff;
  z-index: 999;
  position: fixed; }
.leftPanel {
  padding-top: 3em;
  padding-bottom: 40px;
  padding-left: 3em;
  padding-right: 3em;
  width: 25%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 1001;
  background: rgba(0, 0, 0, 0.04);
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }


@media (min-width: 992px) {
  .leftPanel {
    width: 25%; } }
@media (max-width: 991.98px) {
  .leftPanel {
    width: 270px;
    -moz-transform: translateX(-270px);
    -webkit-transform: translateX(-270px);
    -ms-transform: translateX(-270px);
    -o-transform: translateX(-270px);
    transform: translateX(-270px);
    padding-top: 2em;
    background: rgba(0, 0, 0, 0.04); } }
.leftPanel #myIcon {
  margin-bottom: 2.5em;
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 25px; }
@media (max-width: 991.98px) {
  .leftPanel #myIcon {
    margin-bottom: 20px; } }
.leftPanel #myIcon a {
  display: inline-block;
  text-align: center;
  color: #556B2F; }
.leftPanel #myIcon a span {
  color: #cccccc; }
.leftPanel .menu ul {
  margin: 0;
  padding: 0; }
.leftPanel .menu ul li {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 700; }
.leftPanel .menu ul li a {
  color: #641200;
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  font-family: "Montserrat", Arial, sans-serif;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.leftPanel .menu ul li a:after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 7px;
  left: 0;
  right: 0;
  background-color: #000000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.leftPanel .menu ul li a:hover {
  text-decoration: none;
  color: black; }
.leftPanel .menu ul li a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1); }
.leftPanel .menu ul li.active a {
  color: #556B2F; }
.leftPanel .menu ul li.active a:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1); }
.leftPanel .footer {
  position: absolute;
  bottom: 40px;
  right: 1.5em;
  left: 1.5em;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 20px; }
.leftPanel .footer span {
  display: block; }
.leftPanel .footer ul {
  padding: 0;
  margin: 0; }
.leftPanel .footer ul li {
  padding: 0;
  margin: 0;
  color: #641200;
  display: inline;
  list-style: none; }
.leftPanel .footer ul li a {
  color: #641200;
  padding: 4px; }
.leftPanel .footer ul li a:hover, .leftPanel .footer ul li a:active, .leftPanel .footer ul li a:focus {
  text-decoration: none;
  outline: none;
  color: #641200; }

.xsNavBar {
  cursor: pointer;
  text-decoration: none; }
.xsNavBar.active i::before, .xsNavBar.active i::after {
  background: #000000; }
.xsNavBar.dark.active i::before, .xsNavBar.dark.active i::after {
  background: #000000; }
.xsNavBar:hover, .xsNavBar:focus, .xsNavBar:active {
  outline: none;
  border-bottom: none !important; }
.xsNavBar i {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 2px;
  color: #000000;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000000;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out; }
.xsNavBar i::before, .xsNavBar i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #000000;
  position: absolute;
  left: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.xsNavBar.dark i {
  position: relative;
  color: #000000;
  background: #000000;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out; }
.xsNavBar.dark i::before, .xsNavBar.dark i::after {
  background: #000000;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.xsNavBar i::before {
  top: -7px; }

.xsNavBar i::after {
  bottom: -7px; }

.xsNavBar:hover i::before {
  top: -10px; }

.xsNavBar:hover i::after {
  bottom: -10px; }

.xsNavBar.active i {
  background: transparent; }

.xsNavBar.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.xsNavBar.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg); }

.xsNavBar {
  position: fixed;
  left: -12px;
  top: 0px;
  z-index: 9999;
  cursor: pointer;
  opacity: 1;
  visibility: hidden;
  padding: 20px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
@media (max-width: 991.98px) {
  .xsNavBar {
    opacity: 1;
    visibility: visible; } }

.text-center {
  text-align: center !important; }

